
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Table </title>              
    </head>
    <body>
        <div align="center">
            <h3>{{ coin }} data table</h3>
            <h3>{{ start }}</h3>
            <h3>{{ end }}</h3>
            <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    {% for col in column_names %}
                    <th>{{col}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                    {% for data in row_data %}
                  <tr>
                    {% for row in data %}
                    <td>{{ row }}</td>
                    {% endfor %}  
                  </tr>
                  {% endfor %} 
                </tbody>
              </table>
        </div>
    </body>
</html>

